<h1>New Address</h1>
<form name="form" ng-submit="address.submit()" novalidate>
  <div
    class="form-group"
    ng-class="{
      'has-error': form.name.$dirty && form.name.$invalid,
      'has-success': form.name.$dirty && form.name.$valid
    }"
  >
    <label for="name">Name</label>
    <input
      class="form-control"
      id="name"
      name="name"
      type="text"
      placeholder="Joe"
      required
      ng-model="address.person.name"
    />
  </div>
  <div
    class="form-group"
    ng-class="{
      'has-error': form.phone.$dirty && form.phone.$invalid,
      'has-success': form.phone.$dirty && form.phone.$valid
    }"
  >
    <label for="phone">Phone</label>
    <input
      class="form-control"
      id="phone"
      type="tel"
      name="phone"
      placeholder="234-567-8900"
      required
      ng-model="address.person.phone"
    />
  </div>
  <div
    class="form-group"
    ng-class="{
      'has-error': form.email.$dirty && form.email.$invalid,
      'has-success': form.email.$dirty && form.email.$valid
    }"
  >
    <label for="email">Email</label>
    <input
      class="form-control"
      id="email"
      type="email"
      name="email"
      placeholder="joe@example.com"
      required
      ng-model="address.person.email"
    />
  </div>
  <div
    class="form-group"
    ng-class="{
      'has-error': form.twitter.$dirty && form.twitter.$invalid,
      'has-success': form.twitter.$dirty && form.twitter.$valid
    }"
  >
    <label for="twitter">Twitter</label>
    <input
      class="form-control"
      id="twitter"
      name="twitter"
      type="text"
      placeholder="joe"
      required
      ng-model="address.person.twitter"
    />
  </div>
  <a href="#/addresses" class="btn btn-danger">Cancel</a>
  <button
    type="submit"
    class="btn btn-primary"
    ng-disabled="form.$invalid"
  >Submit</button>
</form>