<body>
  <h1>New Pin</h1>
  <form name="form" ng-submit="address.submit()" novalidate>
    <div class="form-group">
      <label for="boardId">Board</label>
      <input class="form-control" 
        id="boardId" 
        name="boardId" 
        type="text" 
        placeholder="Stupid animals"
        required
        ng-model="board.boardid"
      />
    </div>
    <div class="form-group">
      <label for="imgUrl">Image Url</label>
      <input
        class="form-control"
        id="imgUrl"
        type="text"
        name="imgUrl"
        placeholder="http://media.giphy.com/media/S0hxMGYFhEMzm/giphy-tumblr.gif"
        required
        ng-model="board.imgUrl"
      />
    </div>
    <div class="form-group">
      <label for="pinTitle">Title</label>
      <input
        class="form-control"
        id="pinTitle"
        type="text"
        name="pinTitle"
        placeholder="Haha, stupid test"
        required
        ng-model="board.title"
      />
    </div>
    <a href="/boards" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>